<div class="container">
  <table *ngIf="(cart$ | async)?.length != 0" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
        <th>Comments</th>
        <th>Published Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (cart$ | async)">
        <td>{{item?.id}}</td>
        <td>{{item?.title}}</td>
        <td>{{item?.author}}</td>
        <td>{{item?.description}}</td>
        <td>{{item?.price}}</td>
        <td>{{item?.comments}}</td>
        <td>{{item?.publishedDate | date}}</td>
        <td>
          <button class="btn btn-outline-danger" (click)="removeFromCart(item?.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mt-4" *ngIf="(cart$ | async)?.length != 0">
    <button class="btn btn-danger me-3" (click)="clearCart()">Clear Cart</button>
    <button class="btn btn-info" (click)="goHome()">Home</button>
  </div>
</div>
