<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let item of (books$ | async)">
      <div class="card shadow mb-4 rounded">
        <img [src]="item?.imageUrl" class="card-image-top rounded-top" alt="">
        <div class="card-body text-center">
          <h5 class="card-title">{{item?.title}}</h5>
          <p class="card-text fw-bold">Author : {{item?.author}}</p>
          <p class="card-text fw-bold">Price : {{item?.price}}$</p>
          <p class="card-text fw-bold">Published : {{item?.publishedDate | date}}</p>
          <button class="btn btn-primary w-100" [routerLink]="['/book/', item.id]">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
