<div class="container bg-primary text-light p-5 rounded mb-5 border">
  <div class="card shadow rounded p-5 border">
    <form action="#">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Title">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Category">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Date publish">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Author">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Price">
      </div>

      <button class="btn btn-outline-primary w-100">Search</button>
    </form>
  </div>
</div>
