<div id="head" class="p-5 text-white mb-3">
  <div class="container text-center">
    <h1 class="display-3">Amazing Book Store</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur debitis dolores eum impedit iste libero maiores mollitia, placeat quos rerum similique veniam, voluptate. Distinctio eum id inventore odit possimus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consequatur, distinctio dolore dolores ea enim est excepturi fugit hic iusto magni mollitia officia placeat quam recusandae tenetur ut vel?
    </p>
    <button class="btn btn-primary btn-lg">Enjoy Books</button>
  </div>
</div>
