#head {
  background-image: url("https://media.istockphoto.com/photos/books-picture-id600698282?k=6&m=600698282&s=170667a&w=0&h=mWYz9UBRxoygyBNVG8Wl8cAEz_n38GTRceOMdUBep2s=");
  object-fit: cover;
  height: 350px;
}
